# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/pharmabot

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Telegram Bot
TELEGRAM_BOT_TOKEN=8819341539:AAEY-k3J1kbolWS3_4azR6KxiBY6bViMH6A
TELEGRAM_CHANNEL_ID=@your_channel_or_channel_id
MINI_APP_URL=https://your-mini-app-url.com
ADMIN_TELEGRAM_IDS=123456789,987654321

# Payment Info (displayed to users)
CBE_ACCOUNT_NUMBER=1000262694392
TELEBIRR_PHONE=0993676861
POST_PRICE=20

# Admin seed (used by seed script)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Uploads
UPLOAD_DIR=uploads
